

body{
    background-color:rgba(247, 229, 228, 0.842);
    margin: 2rem auto;

}



.card{
    width:300px;
    margin: 0rem auto;
    background-color: white;
    line-height: 22px;
    padding: 20px;
    border-radius: 10px;
}
section{
    background-color:rgba(250, 210, 217, 0.815);
    width: 285px;

}




table{
    display: grid;

}

.last{
    font-size: 20px;
    padding-left:100px ;
    color:hsl(332, 51%, 32%);
}



@media screen and (min-width:992px) {
    div{
        width: 400px;
    }
    img{
        width: 390px;
    }

    .last{
        padding-left:160px;
    }
    
}



