

body{
    background-color:rgba(255, 192, 203, 0.466);
    margin: 2rem auto;

}



div{
   width:300px;
    margin: 0rem auto;
background-color: aliceblue;
line-height: 22px;
padding: 10px;
}
section{
    background-color:rgba(255, 192, 203, 0.466) ;
    width: 285px;

}




table{
    display: grid;

}

.last{
font-size: 20px;
    padding-left:100px ;
    color: brown;
}



@media screen and (min-width:992px) {
    div{
        width: 400px;
    }
    img{
        width: 390px;
    }

    .last{
        padding-left:160px;
    }
    
}



